.bodyBackground{
    background-image: url(./images/backgroundImage.jpg);
    size: 0vmin
}

.cardBack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    background-image: url(./images/backCard.jpg);
}

.front_card1 {
    cursor: pointer;
    position: absolute;
    transform: rotateY(0deg);
    transition: 0.4s
}

.back_card1 {
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
    transition: 0.4s
}

.front_card2 {
    backface-visibility: hidden;
    cursor: pointer;
    position: absolute;
    transform: rotateY(180deg);
    transition: 0.4s
}

.back_card2 {
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(0deg);
    transition: 0.4s
}

.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: url(./images/img1.jpg);
}

.img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: url(./images/img2.jpg);
}

.img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: url(./images/img3.jpg);
}

.img4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: url(./images/img4.jpg);
}

.img5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: url(./images/img5.jpg);
}

.img6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: url(./images/img6.jpg);
}

.img7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: url(./images/img7.jpg);
}

.img8 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: url(./images/img8.jpg);
}